* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.card-img-1 {
    max-width: 500px;
    margin-left: 40px;
}

.card-img-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-title-1,
.card-text-1 {
    text-align: center;
}

.github-1 {
    max-width: 18px;
    margin-left: -77px;
    margin-top: 15px;
    
}

.facebook-1 {
    max-width: 19px;
    margin-left: -48px;
    margin-top: -45px;
}

.yt-1 {
    max-width: 20px;
    margin-left: -16px;
    margin-top: -92px;
    
}

.horizontal-line-1 {
    border-bottom: 3.5px solid #E93656;
    border-radius: 50px;
    width: 193px;
    top: 27em;
    right: 30px;
    position: absolute;  
}


.hire-me-btn {
    width: 135px;
    height: 43px;
    background-color: #E93656;
    color: white;
    border: none;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    position: absolute; 
    top: 53rem; 
    left: 265px; 
}


.hire-me-btn:hover {
    background-color: #D91E3F;
    cursor: pointer;
}



@media (width >= 1425px) {
.pc-more-info-1, .pc-more-info-2, .pc-more-info-3, .hire-me-btn {
    margin-left: 130px !important;
}

}

@media (width >=1715px) {

    .pc-more-info-1,
    .pc-more-info-2,
    .pc-more-info-3,
    .hire-me-btn {
        margin-left: 210px !important;
    }

}

@media (width >=1900px) {

    .pc-more-info-1,
    .pc-more-info-2,
    .pc-more-info-3,
    .hire-me-btn {
        margin-left: 22rem !important;
    }

}

@media (width >=2130px) {

    .pc-more-info-1,
    .pc-more-info-2,
    .pc-more-info-3,
    .hire-me-btn {
        margin-left: 28rem !important;
    }

}

@media (width >=2300px) {

    .pc-more-info-1,
    .pc-more-info-2,
    .pc-more-info-3,
    .hire-me-btn {
        margin-left: 35rem !important;
    }

}

@media (width >=2500px) {

    .pc-more-info-1,
    .pc-more-info-2,
    .pc-more-info-3,
    .hire-me-btn {
        margin-left: 40rem !important;
    }

}



@media (width <=1150px) {

    .pc-more-info-1,
    .pc-more-info-2,
    .pc-more-info-3,
    .hire-me-btn {
        margin-left: -3rem !important;
    }

}

@media (width <=1050px) {

    .pc-more-info-1,
    .pc-more-info-2,
    .pc-more-info-3,
    .hire-me-btn {
        margin-left: -5rem !important;
    }

}

@media (width <=980px) {

    .pc-more-info-1,
    .pc-more-info-2,
    .pc-more-info-3,
    .hire-me-btn {
        margin-left: -7rem !important;
    }

}

@media (width <=910px) {

    .pc-more-info-1,
    .pc-more-info-2,
    .pc-more-info-3,
    .hire-me-btn {
        margin-left: -8rem !important;
    }

}

@media (width <=870px) {

    .pc-more-info-1,
    .pc-more-info-2,
    .pc-more-info-3,
    .hire-me-btn {
        margin-left: -9.5rem !important;
    }

}

@media (width <=870px) {

    .pc-more-info-3 {
        max-width: 200px !important;
        margin-left: -6.2rem !important;
    }

    .hire-me-btn {
        margin-top: 3rem !important;
    }

}


@media (width <=830px) {

    .pc-more-info-1,
    .pc-more-info-2,
    .pc-more-info-3,
    .hire-me-btn {
        margin-left: -12rem !important;
    }

    .pc-more-info-3 {
        margin-left: -8rem !important;
    }
}

@media (width <=770px) {

    .pc-more-info-1,
    .pc-more-info-2,
    .pc-more-info-3,
    .hire-me-btn {
        margin-left: -12rem !important;
    }
    .pc-more-info-3 {
        margin-left: -8rem !important;
    }
}



@media (width =2560px) {
    .stat-1 {
        margin-right: 40rem !important;
    }

    .line-1 {
        margin-left: 94rem !important;
    }

    .stat-2 {
        margin-right: 40rem !important;
    }
    
    .line-2 {
        margin-left: 94rem !important;
    }

    .stat-3 {
        margin-right: 40rem !important;
    }
    
    .line-3 {
        margin-left: 94rem !important;
    }
    
    .stat-4 {
        margin-left: 94.1rem !important;
    }
    
    .line-4 {
        margin-left: 94rem !important;
    }
}

@media (width = 1440px) {
    .stat-1 {
            margin-right: 4.9rem !important;
        }
    
    .line-1 {
        margin-left: 59.1rem !important;
    }

    .stat-2 {
        margin-right: 4.9rem !important;
    }
    
    .line-2 {
        margin-left: 59.1rem !important;
    }

    .stat-3 {
        margin-right: 4.9rem !important;
    }
    
    .line-3 {
        margin-left: 59.1rem !important;
    }

    .stat-4 {
        margin-left: 59.2rem !important;
    }
        
    .line-4 {
        margin-left: 59.1rem !important;
    }
}

@media (width = 1024px) {
    .stat-1 {
        margin-right: -7rem !important;
    }
    
    .line-1 {
        margin-left: 45.1rem !important;
    }

    .stat-2 {
        margin-right: -7rem !important;
    }
    
    .line-2 {
        margin-left: 45.1rem !important;
    }

    .stat-3 {
        margin-right: -7rem !important;
    }
    
    .line-3 {
        margin-left: 45.1rem !important;
    }

    .stat-4 {
        margin-left: 45.1rem !important;
    }
        
    .line-4 {
        margin-left: 45.1rem !important;
    }
}



.line-1,
.line-2,
.line-3,
.line-4 {
    position: relative;
    height: 5px;
    background-color: #E93656;
    width: 0%;
    transition: width 2s ease-in-out;
}

@media (width = 2560px) {
    .p-info {
        margin-left: 40rem !important;
    }
}

@media (width = 1440px) {
    .p-info {
        margin-left: 6rem !important;
    }
}

@media (width = 1024px) {
    .p-info {
        margin-left: -8rem !important;
    }
}






/* ///////////////////////////////////////////////////////////////////// */
.square-button {
    width: 20px;
    height: 20px;
    border: 1px solid rgb(0, 0, 0);
    background-color: transparent;
    margin-right: 10px;
    transition: background-color 0.3s ease-in-out;
    position: relative;
    z-index: 1;
}

.square-button:hover {
    background-color: transparent;
}

.square-button::before {
    content: '';
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 30px;
    height: 30px;
    background-color: #091f41;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: -1;
}

.square-button:hover::before {
    opacity: 0.7;
}

.button-container {
    display: flex;
    align-items: center;
}


