* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.card-img-1 {
    max-width: 500px;
    margin-left: 40px;
}

.card-img-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-title-1,
.card-text-1 {
    text-align: center;
}

.github-1 {
    max-width: 18px;
    margin-left: -77px;
    margin-top: 15px;
}

.facebook-1 {
    max-width: 19px;
    margin-left: -48px;
    margin-top: -45px;
}

.yt-1 {
    max-width: 20px;
    margin-left: -16px;
    margin-top: -92px;
}

.horizontal-line-1 {
    border-bottom: 3.5px solid #E93656;
    border-radius: 50px;
    width: 193px;
    top: 27em;
    right: 30px;
    position: absolute;  
}


.hire-me-btn {
    width: 135px;
    height: 43px;
    background-color: #E93656;
    color: white;
    border: none;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: absolute; 
    top: 53rem; 
    left: 265px; 
}


.hire-me-btn:hover {
    background-color: #D91E3F;
    cursor: pointer;
}



@media (width >= 1425px) {
.pc-more-info-1, .pc-more-info-2, .pc-more-info-3, .hire-me-btn {
    margin-left: 130px !important;
}

}

@media (width >=1715px) {
    .pc-more-info-1,
    .pc-more-info-2,
    .pc-more-info-3,
    .hire-me-btn {
        margin-left: 210px !important;
    }

}

@media (width >=1900px) {
    .pc-more-info-1,
    .pc-more-info-2,
    .pc-more-info-3,
    .hire-me-btn {
        margin-left: 22rem !important;
    }

}

@media (width >=2130px) {
    .pc-more-info-1,
    .pc-more-info-2,
    .pc-more-info-3,
    .hire-me-btn {
        margin-left: 28rem !important;
    }

}

@media (width >=2300px) {

    .pc-more-info-1,
    .pc-more-info-2,
    .pc-more-info-3,
    .hire-me-btn {
        margin-left: 35rem !important;
    }

}

@media (width >=2500px) {
    .pc-more-info-1,
    .pc-more-info-2,
    .pc-more-info-3,
    .hire-me-btn {
        margin-left: 40rem !important;
    }

}



@media (width <=1150px) {
    .pc-more-info-1,
    .pc-more-info-2,
    .pc-more-info-3,
    .hire-me-btn {
        margin-left: -3rem !important;
    }

}

@media (width <=1050px) {
    .pc-more-info-1,
    .pc-more-info-2,
    .pc-more-info-3,
    .hire-me-btn {
        margin-left: -5rem !important;
    }

}

@media (width <=980px) {
    .pc-more-info-1,
    .pc-more-info-2,
    .pc-more-info-3,
    .hire-me-btn {
        margin-left: -7rem !important;
    }

}

@media (width <=910px) {
    .pc-more-info-1,
    .pc-more-info-2,
    .pc-more-info-3,
    .hire-me-btn {
        margin-left: -8rem !important;
    }

}

@media (width <=870px) {
    .pc-more-info-1,
    .pc-more-info-2,
    .pc-more-info-3,
    .hire-me-btn {
        margin-left: -9.5rem !important;
    }

}

@media (width <=870px) {
    .pc-more-info-3 {
        max-width: 200px !important;
        margin-left: -6.2rem !important;
    }

    .hire-me-btn {
        margin-top: 3rem !important;
    }

}


@media (width <=830px) {
    .pc-more-info-1,
    .pc-more-info-2,
    .pc-more-info-3,
    .hire-me-btn {
        margin-left: -12rem !important;
    }

    .pc-more-info-3 {
        margin-left: -8rem !important;
    }
}

@media (width <=770px) {
    .pc-more-info-1,
    .pc-more-info-2,
    .pc-more-info-3,
    .hire-me-btn {
        margin-left: -12rem !important;
    }
    .pc-more-info-3 {
        margin-left: -8rem !important;
    }
}

/* //////////////////////////////////////////////////////////////////////////////////////////// */





.stats {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

.stats span {
    font-size: 14px;
    margin-top: 20px;
}

.line {
    position: relative;
    height: 5px;
    background-color: #E93656;
    width: 0%;
    border-radius: 20px;
    transition: width 2s ease-in-out;
}

@media (max-width: 2560px) {
    .stats {
        padding: 60px 40px;
    }
}

@media (max-width: 769px) {
    .stats {
        padding: 20px 10px;
    }
}

/* //////////////////////////////////////////////////////////////// */
@media (width <= 2560px) {
    .bas {
        margin-left: 41.5rem !important;
    }
}

@media (width <=2400px) {
    .bas {
        margin-left: 35rem !important;
    }
}

@media (width <=2300px) {
    .bas {
        margin-left: 30rem !important;
    }
}

@media (width <=2050px) {
    .bas {
        margin-left: 25rem !important;
    }
}

@media (width <=1950px) {
    .bas {
        margin-left: 20rem !important;
    }
}

@media (width <=1750px) {
    .bas {
        margin-left: 12rem !important;
    }
}

@media (width <=1500px) {
    .bas {
        margin-left: 5rem !important;
    }
}

@media (width <=1300px) {
    .bas {
        margin-left: -2rem !important;
    }
}

@media (width <=1220px) {
    .bas {
        margin-left: -7rem !important;
    }
}

@media (width <=1000px) {
    .bas {
        margin-left: -12rem !important;
    }
}

@media (width <=850px) {
    .bas {
        margin-left: -17rem !important;
    }
}

/* @media (width <= 1225px) {
    .picture {
        margin-right: -9.4rem;
    }
} */

/* @media (width <=1265px) {
    .picture, .picture-2 {
       width: 450px !important;
    }
    .picture {
        margin-right: 3rem;
    }
    
    .picture-2 {
        margin-right: 3rem;
    } 


    .picture-1 {
        width: 200px !important;
        margin-left: 20rem !important;
    } 
} */




@media (width <=2560px) {
    .big-image-container {
        margin-top:  9.4rem !important;
    }
}

/* 
@media (width <=1170px) {

    
    .picture,
    .picture-2 {
        width: 400px !important;
    }
 
     .picture {
        margin-right: -4rem;
    }

    .right-side-2 {
        margin-right: 3.2rem;

       
    }

    .right-side-1 {
        margin-left: -4rem;

      
    }
} */













/* //////////////////////////////////////////////////////////////////////////////////////////// */
/* @media (width = 2560px) {
    .stat-1 {
        margin-right: 40rem !important;
    }

    .line-1 {
        margin-left: 94rem !important;
    }

    .stat-2 {
        margin-right: 40rem !important;
    }
    
    .line-2 {
        margin-left: 94rem !important;
    }

    .stat-3 {
        margin-right: 40rem !important;
    }
    
    .line-3 {
        margin-left: 94rem !important;
    }
    
    .stat-4 {
        margin-left: 94.1rem !important;
    }
    
    .line-4 {
        margin-left: 94rem !important;
    }
}

@media (width = 1440px) {
    .stat-1 {
            margin-right: 4.9rem !important;
        }
    
    .line-1 {
        margin-left: 59.1rem !important;
    }

    .stat-2 {
        margin-right: 4.9rem !important;
    }
    
    .line-2 {
        margin-left: 59.1rem !important;
    }

    .stat-3 {
        margin-right: 4.9rem !important;
    }
    
    .line-3 {
        margin-left: 59.1rem !important;
    }

    .stat-4 {
        margin-left: 59.2rem !important;
    }
        
    .line-4 {
        margin-left: 59.1rem !important;
    }
}

@media (width = 1024px) {
    .stat-1 {
        margin-right: -7rem !important;
    }
    
    .line-1 {
        margin-left: 45.1rem !important;
    }

    .stat-2 {
        margin-right: -7rem !important;
    }
    
    .line-2 {
        margin-left: 45.1rem !important;
    }

    .stat-3 {
        margin-right: -7rem !important;
    }
    
    .line-3 {
        margin-left: 45.1rem !important;
    }

    .stat-4 {
        margin-left: 45.1rem !important;
    }
        
    .line-4 {
        margin-left: 45.1rem !important;
    }
}



.line-1,
.line-2,
.line-3,
.line-4 {
    position: relative;
    height: 5px;
    background-color: #E93656;
    width: 0%;
    transition: width 2s ease-in-out;
}*/

@media (width >= 2060px) {
    .p-info{
        /* margin-left: 40rem !important; */
    
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (width = 1440px) {
    .p-info {
        margin-left: 6rem !important;
    }
}

@media (width = 1024px) {
    .p-info {
        margin-left: -8rem !important;
    }
}

.square-button {
    width: 20px;
    height: 20px;
    border: 1px solid rgb(0, 0, 0);
    background-color: transparent;
    margin-right: 10px;
    transition: background-color 0.3s ease-in-out;
    position: relative;
    z-index: 1;
}

.square-button:hover {
    background-color: transparent;
}

.square-button::before {
    content: '';
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 30px;
    height: 30px;
    background-color: #091f41;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: -1;
}

.square-button:hover::before {
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
}

.button-container {
    display: flex;
    align-items: center;
}

/* @media (width = 2560px) {
    .button-container {
        margin-left: 94rem !important;
    }
}

@media (width=1440px) {
    .button-container {
        margin-left: 59.2rem !important;
    }
}

@media (width=1024px) {
    .button-container {
        margin-left: 45.2rem !important;
    }
} */

.phone-img-1:hover {
    background-color: #E93656;
    opacity: 1;
    border-radius: 50%;
}

.phone-img-1, .email-img {
    background-color: transparent;
    transition-property: background-color, border-radius;
    transition-duration: 0.3s;
}

.email-img:hover {
    background-color: #E93656;
    border-radius: 50%;
}

.my-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30rem !important;
}

.my-card {
    background-color: #eeeeee;
    box-sizing: border-box;
    width: calc(25% - 5px);
    margin-bottom: 5px;
    padding: 20px;
    text-align: center;
    transition: all 0.3s ease;
}

.my-card:hover {
    background-color: #15263E;
}

.my-card:hover img,
.my-card:hover .my-card-text {
    display: none;
}

.my-card:hover .my-card-title,
.my-card:hover .my-card-info {
    display: block;
}


.my-container {
    display: flex;
    flex-wrap: wrap;
}

.my-card:hover {
    background-color: #15263E;
}

.my-card:hover img,
.my-card:hover .my-card-text {
    display: none;
}

.my-card:hover h2,
.my-card:hover .my-card-info {
    display: block;
    color: #FFFFFF;
}

.my-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.my-card-text {
    color: #000000;
}

h2,
.my-card-info {
    display: none;
}

.big-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 570px;
    position: relative;
}

.big-image-container img {
    width: 100%;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 570px;
}

.circle-border {
    border: 2px dashed #ffffff;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-border img {
    max-width: 100%;
    max-height: 100%;
}

 .left-text {
    margin-right: 50px;
}

.right-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.right-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container-2 {
    display: flex;
}

.button {
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border: 1px solid #ffffff;
    background-color: transparent;
}

.button.active {
    border-color: #E93656;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background-color: #ffffff;
}

.main-title {
    font-size: 32px;
    color: #15263E;
}

.nav-card-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.nav-container {
    display: flex;
    flex-direction: column;
    background-color: #15263E;
    padding: 20px;
    margin-right: 20px;
    max-width: 180px;
    max-height: 380px;
}

.nav-btn {
    padding: 10px;
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

.nav-btn:hover {
    color: #E93656;
}

.active-btn {
    background-color: transparent;
    color: #ffffff;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    max-width: 1070px !important;
}

.nav-card {
    width: 350px;
    height: 300px;
    background-color: #f5f5f5;
    position: relative;
    overflow: hidden;
}

.nav-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
}

.nav-card:hover img {
    filter: brightness(50%);
}

.card-content {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
}

.card:hover .card-content, .card-title-2{
    display: block;
}

.card-content img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    padding: 10px;
} 

.card-content h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.card-content p {
    font-size: 14px;
    margin-bottom: 0;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (width >=1900px) {
    .center-container {
        margin-top: 12rem;
    }
}

























/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    max-width: 800px;
    margin: 50px;
    padding-right: 20px;
}

.left-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-right: 20px;
}

.right-side {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.image {
    height: 80px;
    width: 80px;
    margin-bottom: 10px;
}

.text {
    font-size: 16px;
    margin-bottom: 10px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.line {
    border-top: 1px solid black;
    margin-bottom: 20px;
}

.vertical-line {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 65px solid #15263E;
    height: 590px;
    width: 123px;
    color: #E93656;
    text-align:left;
    font-weight: bold;
}

.vertical-line span {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    color: #E93656;
    font-weight: bold;
    transform: rotate(-180deg);
    margin-right: 10px;
    letter-spacing: 3px;
    font-size: 23px;
    font-weight: 100;
}

.picture {
    height: 590px;
    margin-left: -0.4rem;
}

/* @media (width <=1250px) {
    .right-side {
        margin-right: 10rem !important;
    }
}

@media (width <=1075px) {
    .picture {
        width: 345px !important;
    }

    .picture-2 {
        width: 345px !important;
    }
    
    .right-side {
        margin-right: 5.5rem !important;
    }

    .right-side-2 {
        margin-right: 5.5rem !important;
    }
    
    .left-side {
        margin-right: -12rem !important;
        margin-top: 7rem !important;
    }

    .left-side-1 {
        margin-right: -12rem !important;
        margin-top: 7rem !important;
    }
}

@media (width >=1440px) {
    .picture {
        width: 550px !important;
        margin-right: -7.4rem;
    }

    .picture-2 {
        width: 550px !important;
        margin-right: -7.4rem;
    }

    .left-side {
        margin-right: 3rem !important;
        margin-top: 8rem !important;
    }

    .left-side-1 {
        margin-right: 3rem !important;
        margin-top: 8rem !important;
    }
}

@media (width = 2560px) {
    .picture {
        width: 1200px !important;
        margin-right: -37rem;
    }

    .picture-2 {
        width: 1200px !important;
        margin-right: -37rem;
    }

    .left-side {
        margin-right: 35rem !important;
        margin-top: 7rem !important;
    }

    .left-side-1 {
        margin-right: 35rem !important;
        margin-top: 7rem !important;
    }
} */

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    max-width: 800px;
    margin: 50px;
    padding-right: 20px;
}

.vertical-line-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 65px solid #15263E;
    height: 590px;
    width: 123px;
    color: #E93656;
    text-align: left;
    font-weight: bold;
}

.vertical-line-1 span {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    color: #E93656;
    font-weight: bold;
    transform: rotate(-180deg);
    margin-right: 10px;
    letter-spacing: 3px;
    font-size: 23px;
    font-weight: 100;
}

.right-side-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-right: 20px;
}

.image-1 {
    height: 80px;
    width: 80px;
    margin-bottom: 30px;
}

.text-1 {
    font-size: 16px;
    margin-bottom: 10px;
}

.vertical-line-1 {
    margin-left: -6.7rem !important;
}

.picture-1 {
   width: 520px !important;
   height: 590px;
   margin-left: -47rem !important;
}



/* 
@media (width <=1024px) {
    .picture-1 {
        width: 430px !important;
        margin-left: -37rem !important;
    }

    .vertical-line-1 {
        margin-left: -2.8rem !important;
    }

    .right-side-1 {
        margin-right: -36rem !important;
    }
} 


@media (width = 1440px) {
    .picture-1 {
        width: 720px !important;
        height: 590px;
        margin-right: 8.5rem;
    }

    .vertical-line-1 {
        margin-left: -2.6rem !important;
    }

    .right-side-1 {
        margin-right: -50rem !important;
    }
} 




@media (width = 2560px) {
    .picture-1 {
        width: 1220px !important;
        height: 590px;
        margin-right: 50rem;
    }
    
    .vertical-line-1 {
        margin-left: -13.5rem !important;
    }

    .right-side-1 {
        margin-right: -70rem !important;
    }
} */

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    max-width: 800px;
    margin: 50px;
    padding-right: 20px;
}

.left-side-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-right: 20px;
}

.right-side-2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.image-2 {
    height: 80px;
    width: 80px;
    margin-bottom: 10px;
}

.text-2 {
    font-size: 16px;
    margin-bottom: 10px;
}

.title-2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.line-2 {
    border-top: 1px solid black;
    margin-bottom: 20px;
}

.vertical-line-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 65px solid #15263E;
    height: 590px;
    width: 123px;
    color: #E93656;
    text-align: left;
    font-weight: bold;
}

.vertical-line-2 span {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    color: #E93656;
    font-weight: bold;
    transform: rotate(-180deg);
    margin-right: 10px;
    letter-spacing: 3px;
    font-size: 23px;
    font-weight: 100;
}

.picture-2 {
    height: 590px;
    margin-left: -0.4rem;
}



/* @media (width <= 2559px){
    .right-side {
        margin-right: 4.5rem;
    }

    .right-side-2 {
        margin-right: 4.5rem;
    }
} 

@media (width <= 1440px) {
    .right-side {
        margin-right: 0rem;
    }

    .right-side-2 {
        margin-right: 0rem;
    }
}

@media (width <=1265px) {
    .picture-1 {
        width: 460px !important;

        margin-right: -3.5rem !important;
    }

}

@media (width <=1250px) {
    .right-side {
        margin-right: 0rem !important;
    }
}

@media (width <=1170px) {
    .right-side {
        margin-right: 10rem !important;
    }

    .right-side-2 {
        margin-right: 3rem !important;
    }
} */

@media (width <= 1260px){
    * {
        overflow-x: hidden;
    }

    .container-2 {
        overflow-y: hidden;
    }

    .p-logo-1, .p-logo-3, .p-logo-2, .card-img-overlay, .vertical-line-2, .vertical-line-1, .vertical-line, #ico, #pre, #log, #psd, #moc, #work, #all, .nav-card-container, .nav-container, .right-content, .image-overlay, .big-image-container, .button3, .button2, .button1, .button, .button-container-2, .p-info, .info-1, .button-container, .square-button, .bas {
        overflow: visible !important;
    }

    /* .picture-2 {
        width: 700px !important;
    } */

    .picture-1 {
        margin-right: -11rem !important;
    }

    .right-side {
        margin-left: 37rem !important;
    }

    .vertical-line-1 {
        margin-left: -3.8rem !important;
    }

    .right-side-2 {
        margin-left: 37rem !important;
    }

    .left-side {
        margin-top: 6rem !important;
        margin-left: -30rem !important;
    }

    .right-side-1 {
        margin-left: -7rem !important;
    }

    .left-side-1 {
        margin-top: 6rem !important;
        margin-left: -30rem !important;
    }
}


@media (width <= 1200px) {
    .right-side {
       margin-left: 31.3rem !important;
    }

    .right-side-2 {
        margin-left: 31.3rem !important;
    }
}

@media (width <=1010px) {
    .picture-1 {
        width: 300px !important;
        margin-left: -48rem !important;
    }

    .vertical-line-1 {
      margin-left: -10rem !important;
    }

    .right-side {
        margin-left: 28rem !important;
    }

    .right-side-2 {
        margin-left: 28rem !important;
    }

    /* * {
        border: 1px solid red;
    } */

    .right-side-1 {
        margin-left: -18rem !important;
    }
}

@media (width <=992px) {
    .left-side {
       margin-left: -22rem !important;
    }

    .right-side {
        margin-left: 20.5rem !important;
    }

    #first-text-1 {
       width: 200px !important;
    }

    #first-text-2 {
        width: 200px !important;
    }

    .right-side-1 {
        margin-left: -25rem !important;
    }

    .right-side-2 {
        margin-left: 20.5rem !important;
    }

    .left-side-1 {
        margin-left: -22rem !important;
    }

    #first-text-3 {
        width: 200px !important;
    }
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media (width <= 768px) {
    .info-1 {
        margin-top: 5rem !important;
    }

    .pc-more-info-3 {
        width: 100px !important;
        margin-left: -4.5rem !important;
    }

    .hire-me-btn {
        margin-top: 15rem !important;
        margin-left: -13rem !important;
    }
}

@media (width <=700px) {
    .bas {
        margin-left: -20rem !important;
    }
}

@media (width <=761px) {
    .phone-img-1, .phone-img-2, .email-img {
       width: 50px !important;
    }

    .p-info {
        font-size: 10px !important;
    }

    .phone-img-2 {
        margin-left: 7.3rem !important;
    }

    .email-img {
        margin-left: 9.4rem !important;
    }

    .Satisfied-1, .m100-1 {
       font-size: 11px !important;
       margin-top: 6.6rem;
       margin-right: -2.2rem !important;
    }

    .m100-1 {
        margin-top: 0rem !important;
        margin-right: -4.5rem !important;
    }

    .horizontal-line-1 {
        width: 100px !important;
    }
}

@media (width <=743px) {
    .card-title-1, .card-text-1 {
        font-size: 20px !important;
    }

    #card-text-1 {
        font-size: 11px !important; 
    }

    .card-title-1 {
        margin-left: -1.3rem !important;
    }

    .card-text-1 {
        margin-left: 7rem !important;
    }

    .github-1, .facebook-1, .yt-1 {
        max-width: 120px !important;
        width: 15px !important;
        margin-top: -2rem !important;
        
    }

    .github-1 {
        margin-left: -2rem !important;
    }

    .facebook-1 {
        margin-top: -5rem !important;
        margin-left: 0rem !important;
    }

    .yt-1 {
        margin-top: -8rem !important;
        margin-left: 3.3rem !important;
    }

    .pc-more-info-3 {
        margin-left: -6.5rem !important;
    }

    .pc-more-info-1 {
        font-size: 15px !important;
    }

    .pc-more-info-2 {
        font-size: 10px !important;
        margin-left: -14rem !important;
    }

    .hire-me-btn {
        margin-left: -15.2rem !important;
    }
}

@media (width <=671px) {
    .bas {
            margin-left: -23rem !important;
    }
}

@media (width <=775px) {
    .round-pic  {
        width: 70px !important;
    }

    .circle-border {
        width: 85px;
        height: 85px;
    }

    .left-text-1 {
        font-size: 10px !important;
        width: 200px !important;
        margin-left: 10rem !important;
    }

    .right-image-1 {
        width: 15px !important;
    }

    .right-content {
        margin-left: -7rem !important;
    }

    .button-container-2 {
        margin-left: 15rem !important;
    }

    .New-right-text {
        font-size: 8px !important;
    }

    .New-right-text-2 {
        font-size: 12px !important;
    }
}

@media (width <= 666px) {
   .horizontal-line-1 {
    margin-top: 3rem !important;
    width: 70px !important;
    margin-right: -1.5rem !important;
   }

   .m100-1, .Satisfied-1 {
    font-size: 7px !important;
   }

   .Satisfied-1 {
    margin-top: 17.3rem !important;
    margin-right: -3.7rem !important;
   }

   .m100-1 {
    margin-top: 4rem !important;
    margin-right: -7.7rem !important;
   }

   .card-title-1 {
    font-size: 10px !important;
    margin-right: -4.2rem !important;
   }

   .card-text-1 {
    font-size: 13px !important;
    margin-right: -2rem !important;
   }

   #card-text-1 {
    font-size: 8px !important;
   }

.github-1 {
    margin-left: 2rem !important;
}

.facebook-1 {
   
    margin-left: 5rem !important;
}

.yt-1 {
    
    margin-left: 8.3rem !important;
}

}

@media (width <=625px) {
    .my-pic {
        width: 250px !important;
    }

    .hire-me-btn {
        margin-top: 10rem !important;
    }

         .bas {
             margin-left: -26rem !important;
         }
}

@media (width <=570px) {
    .bas {
        margin-left: -27.5rem !important;
    }

    .nav-card-container {
        margin-right: 10rem !important;
    }

    .image-container {
        gap: 5px !important;
        width: 500px !important;

        margin-left: 2rem !important;
    }
}
    @media (width <=768px) {
    .image-container {
        gap: 5px !important;
    }
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////// */










@media (width <=560px) {
    
}










/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media (width <= 790px){
    .p-info {
        margin-left: -1.7rem;
    }
}

@media (width <=902px) {
    .nav-card-container {
        margin-left: 6.4rem !important;
    }
}

.image-container {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.image-3 {
    position: relative;
    width: 110px;
    height: 110px;
    overflow: hidden;
}

.image-3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s;
}

.image-overlay-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    color: #fff;
    transition: opacity 0.3s;
}

.image-3-overlay h2,
.image-3-overlay p {
    display: none;
}

.image-3:hover img {
    opacity: 0;
}

.image-3:hover .image-overlay-1 {
    opacity: 1;
    border: 2px solid #E93656;
}

.image-3:hover .image-overlay-1 h2,
.image-3:hover .image-overlay-1 p {
    display: block;
    font-size: 10px;
    color: #000000;
}

.image-3:hover .image-overlay-1 h2 {
    font-weight: bold;
    font-size: 13px;
}

.image-3:hover .image-overlay-1 p {
    color: #626262;
    opacity: 0.8;
}

/* ///////////////////////////////////////////////////////////////////////////// */
.container-1 {
    position: relative;
}

.container-1 img {
    width: 100%;
    height: 660px;
}

.container-1 .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.container-1 .content h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.container-1 .content h2 {
    font-size: 18px;
    margin-bottom: 20px;
}

.container-1 .content form button {
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid #E93656;
    color: #E93656;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 

.container-1 .content form .input-group {
    display: flex;
}

.container-1 .content form .input-group input {
    flex: 1;
    margin-right: 10px;
}

.container-1 .content form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    resize: none;
}
/* ///////////////////////////////////////////////////////////////////////////// */











.container-2 {
    background-color: #282828;
    width: 100%;
    height: 490px;
}

.content-1 {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    color: white;
}

.social-media {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-media-button {
    margin: 0 10px;
}

.container-2 p {
    margin-bottom: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container-2 h1 {
    margin-bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container-2 p:last-child {
    color: #171717;
}
/* ////////////////////////////////////////////////////////////////// */








